@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pizzatorium</h1>
    <p class="lead">Dont just order pizza, order Pizzatorium.</p>
    <p><a href="/Design/Create" class="btn btn-primary btn-lg">Order now. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enjoy the best pizza in the south...</h2>
        <p>
           Here at Pizzatorium, we sell hand backed pizzas consisting of special chefs who professionally hand crafts them.
        </p>
        
    </div>
   
</div>